#box {

    display: none;
    position: fixed;
    height: 13.8em;
    float: left;
    width: 100px;
    left: 0em;
    text-align: center;
    background-color: #ffffff;
    margin-top: 3.5px;
    padding-top: -29px;
    top: 13em;
	
}

#box a {
  
   display: block;
   margin-top: 22px;
  
}



body {
    
    background-color: #EDEDED;
    
}

#a1 {

    text-decoration: none;
    color: #108EC4;
    font-family: "josefin-sans";
    padding: 5px;
    
}
    
  


h1{
  
     
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #0262C9;
   
}




#a8:hover {
  
  background-color: #9fdfff;
  opacity: 0.8;    
  
  
}


button {
    
    color: #CCCCCC; 
    height: 52px;
    width: 52px;
    border: none;
    position: fixed;
    top: 12.5em;
    left: 0em;
    
     
}

.a2 {
    
    text-decoration: none;
    color: #0262C9;
    
}


#a8 {
    
    display: block;
    text-decoration: none;
    color: #108EC4;
    font-family: "josefin-sans";
    padding: 1.2em;
    
    
}

#box-contain {
    
    height: 13.5em;
    width: 20em;
    position: absolute;
    top: 15em;
    left: 25em;
    background-color: #fff;
    opacity: 50;
    text-align: center;
    
    
}

#a1:hover {
    
     background-color: #9fdfff;
  opacity: 0.8;    
  
  
}

#p1 {
    
    color: #108EC4;
    font-family: "Lato";
    font-size: 22px ;
    
}


    
    
    
    
    
    
    
    
    
    
    
    
